*,
::before,
::after {
  box-sizing: border-box;
}

.current-track, .player-track:hover {
  background-color: rgba(0, 0, 0, .1);
}

.player-track {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
}

.player-track-title {
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-track-spacer {
  flex: 2;
}

.player-track-number {
  padding-left: 16px;
}

.player-track-duration {
  padding-left: 16px;
}
